.container {
  width: 100%;
  background-color: white;
}

.address {
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.bookmark {
  margin-right: 1rem;
  background-color: transparent;
  border: none;
}
