.container {
  padding: 11px;
  margin-bottom: 15px;
  background-color: white;
}
.title {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.name {
  margin: 10px;
  font-size: 20px;
  display: flex;
  justify-content: center;
}
.tags {
  font-size: 10px;
  margin-right: 11px;
  display: flex;
  justify-content: flex-end;
}

.menuContainer {
}

.categoryText {
  width: 143px;
  height: 33px;
  border-radius: 13px;
  background-color: #dae591;
  display: flex;
  justify-content: center;
  align-items: center;
}
.categoryImage {
  height: 100%;
  margin: 10px;
  display: flex;
  flex-direction: column;
}
.categoryImage > img {
  /* height: 100%; */
  object-fit: cover;
  border-radius: 13px;
  width: 85px;
  height: 85px;
  margin: 15px 0;
}

.categoryHr {
  width: 100%;
  transform: translateY(-100%);
  height: 10px;
  background-color: #dae591;
}
.menus {
  height: 100%;
  margin: 5px 0 30px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
table {
  width: 17rem;
  border-spacing: 10px;
}
tr {
  text-align: center;
}
