.horizontalLine {
  width: 100vw;
  border: 1.5px solid #d9d9d9;
  background-color: #d9d9d9;
  margin: 0;
}

.categories {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-row-gap: 20px;
  justify-items: center;
  margin: 32px 0;
}

section.todaysRestaurant {
  padding: 25px 15px 0;
}
div.todaysRestaurant {
  width: 117px;
  height: 25px;
  text-align: center;
  font-size: 15px;
  margin-bottom: 8px;
}
