.messageModal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(217, 217, 217, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.modalBox {
  width: 85vw;
  /* height: 37vh; */
  background-color: white;
  box-shadow: 0 4px 4px 0 rgb(0, 0, 0, 0.25);
  border-radius: 10px;
}
.modalContents {
  padding: 0 25px 15px 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.skuplateLogo {
  width: 146px;
  margin-top: 30px;
  margin-bottom: 30px;
  /* height: 24.64px; */
}
.modalCloseButton {
  width: 100%;
  height: 49px;
  font-size: 15px;
  background-color: #dae591;
  border: none;
  border-radius: 0 0 10px 10px;
  color: black;
  letter-spacing: 5px;
  font-weight: bold;
}
.modalCloseButton:hover {
  background-color: #dfe4c3;
  color: rgb(70, 70, 70);
  font-weight: bold;
}
.modalCloseButton:active {
  background-color: #dfe4c3;
  color: rgb(70, 70, 70);
  font-weight: bold;
}

.modalMessage {
  text-align: center;
  font-size: 17px;
  line-height: 35px;
  color: #726c6c;
}
