.header {
  width: 100vw;
  min-height: 61px;
  background-image: url('../../assets/images/SKUPLATE_LOGO.png');
  background-size: 167px;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: #dae591;
  .backButton {
    border: none;
    background-color: transparent;
    color: #726c6c;
    padding: 0;
    margin-left: 15px;
    font-size: 33px;
  }
}
