.header {
  position: fixed;
  top: 0;
  z-index: 10;
  /*  */
  width: 100vw;
  min-height: 61px;
  background-image: url('../../assets/images/SKUPLATE_LOGO.png');
  background-size: 167px;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #dae591;
}
.backButton {
  width: 40px;
  height: 40px;
  border: none;
  background-color: transparent;
  color: #726c6c;
  padding: 0;
  margin: 0 15px;
  font-size: 33px;
}

.shareIcon,
.plusIcon {
  font-size: 17px;
  color: #dae591;
}

.appName {
  color: #dae591;
  font-weight: bold;
}

.headerIcons {
  font-size: 33px;
  position: relative;
  /* top: 9%; */
  top: 11.5%;
  /* font-weight: bold; */
}
