.adBanner {
  border: 10px solid #dae591;
  width: 320px;
  height: 100px;
  background-color: #dae591;
  margin: 16px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}
