.adBanner {
  border: 10px solid #dae591;
  width: 310px;
  height: 90px;
  background-color: #dae591;
  margin: 20px auto 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  overflow: hidden;
}
