@import url('https://fonts.googleapis.com/css2?family=Inter&family=Jua&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');

:root {
  --vh: 1vh; /* 초기값을 설정합니다. */
}

html,
body {
  height: 100%;
  /* height: calc(var(--vh, 1vh) * 100); */
}

body {
  overflow-x: hidden;
  margin: 0;
  font-family: 'Inter', sans-serif;
  background-color: #f1f8f2;
  /* font-family: 'Jua', sans-serif; */
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.App {
  /* height: calc(var(--vh, 1vh) * 100);
  display: flex;
  flex-direction: column;
  padding-top: 61px; */
  min-height: calc(var(--vh, 1vh) * 100);
  display: flex;
  flex-direction: column;
  padding-top: 61px;
  padding-bottom: 61px;
}

button {
  cursor: pointer;
}

.jua {
  font-family: 'Jua', sans-serif;
}
